html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --inactive-color: #888;
  --placeholder-color: #444;
  --focus-border-color: #fff;
  --login-button-color: #fff;
  --sans-font-family: "Helvetica Neue", sans-serif;
  --frame-color: #fff;
  --max-width: 32em;
}

body {
  height: inherit;
  min-height: 100%;
  background-image: linear-gradient(
    -180deg,
    #ff5656 2%,
    #df9870 47%,
    #51def0 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#mcad-login-page {
  height: inherit;
  font-size: 16px;
  line-height: 1.4;
  font-family: var(--sans-font-family);
  font-weight: 200;
  min-height: inherit;
  background: url("../img/circle-polygon-bg.svg") no-repeat 90% 90%,
    url("../img/lines-left-bg.svg") no-repeat left bottom,
    url("../img/lines-right-bg.svg") no-repeat right top,
    url("../img/tri-bg.svg") no-repeat 20% 40%;
  color: #fff;
}

#mcad-login-page a {
  color: #fff;
}

#mcad-login-page h1 {
  padding-top: 5rem;
  font-weight: 200;
  margin: 0.25em;
}

#mcad-login-page ul {
  list-style-type: none;
}

/* .brand-frame */

#mcad-login-page .brand-frame {
  font-family: var(--sans-font-family);
  line-height: 1;
  width: 90%;
  margin: 0 5%;
  border-bottom: 1px solid var(--frame-color);
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--frame-color);
}

#mcad-login-page .brand-frame svg {
  margin: 0 0.33em;
}

#mcad-login-page .brand-frame svg g {
  fill: var(--frame-color);
}

#mcad-login-page .page-heading,
#mcad-login-page .page-subheading {
  text-align: center;
  font-weight: 100;
  line-height: 1;
  margin: 1rem;
}

#mcad-login-page .page-heading {
  font-size: 5.1em;
}

#mcad-login-page .page-subheading {
  font-size: 1.5em;
  margin-bottom: 2em;
}

#mcad-login-page .mcad-login-form {
  padding: 1rem;
  max-width: 25rem;
  margin: auto;
}

#mcad-login-page #loginFormList {
  padding: 0;
}

#loginFormTitle,
#loginFormText {
  /* visually hidden */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

#mcad-login-page input {
  display: block;
  width: 100%;
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
  max-width: 25rem;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 0.125rem solid var(--inactive-color);
  margin: 1em 0;
  background: transparent;
  border-radius: 0;
}

#mcad-login-page input:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

#mcad-login-page [type="submit"],
#mcad-login-page .button,
/* SSO Login Button */
#mcad-login-page #loginRedirectProviderList > li > a {
  background-color: transparent;
  font-weight: 300;
  color: var(--login-button-color);
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  border: 0.125rem solid var(--login-button-color);
  margin: 1rem 0;
  padding: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  text-decoration: none;
}

#mcad-login-page [type="submit"] {
  margin-top: 3rem;
}

#mcad-login-page [type="submit"]:hover,
#mcad-login-page .button:hover {
  background-color: var(--login-button-color);
  color: #555;
}

#mcad-login-page [type="submit"]:active,
#mcad-login-page .button:active {
  background-color: #fff;
}

/* new window text */
#mcad-login-page .hideoff {
  display: none;
}

/* placeholders */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--placeholder-color);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--placeholder-color);
}

/* forgot-password link */

#mcad-login-page .forgot {
  display: block;
  font-size: 0.8em;
  text-align: right;
}

#mcad-login-page .forgot a {
  display: inline-block;
  color: var(--inactive-color);
  text-decoration: none;
  border-bottom: 0.125rem solid var(--inactive-color);
}

#mcad-login-page .forgot a:hover,
#mcad-login-page .forgot a:active {
  color: #fff;
}

/* Errors */

#loginErrorMessage {
  background: transparent;
  border: 0;
  max-width: 23em;
  margin: auto;
  font-weight: 300;
  color: #ffd630;
}

/* Login Page Announcements */

#loginAnnouncements {
  padding: 4rem 0;
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

#loginAnnouncements h3 {
  display: none;
}

#loginAnnouncements li {
  background: #fff;
  color: #333;
  border-left: 0.25rem solid #51def0;
  text-align: left;
  font-size: 1rem;
  padding: 1rem;
}

/* Bb Announcement Heading ... crazy, right? */
#loginAnnouncements ul li > strong:first-child {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2;
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

#loginAnnouncements .announcementDate {
  color: #666;
  font-size: 0.9rem;
}

#loginAnnouncements a {
  border-bottom: none;
}

#loginAnnouncements ul {
  width: auto;
  padding: 0;
}

#loginAnnouncements ul li .vtbegenerated strong:first-child {
  color: #333;
}

#loginAnnouncements .vtbegenerated {
  margin: 0 !important;
}

#loginAnnouncements .announcementDate {
  display: none;
}

.is-hidden {
  display: none;
}

#loginFormList label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* aux-login-form */
#mcad-login-page .js-toggle-aux-login {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: inline-block;
  padding: 1rem;
  transition: transform 0.3s ease;
}

#mcad-login-page .aux-login-container .aux-login-form {
  display: none;
}

#mcad-login-page .aux-login-container.is-open .js-toggle-aux-login {
  transform: rotate(45deg);
  color: #fff;
}

#mcad-login-page .aux-login-container.is-open .aux-login-form {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #171717;
}

#mcad-login-page .aux-login-heading {
  margin: auto;
  max-width: 25rem;
  padding: 1rem;
}

/* SSO */
#mcad-login-page #redirectProvidersDropdownButton {
  display: none;
}
#mcad-login-page #loginRedirectProviders {
  margin: auto;
  width: auto;
}

#mcad-login-page #loginRedirectProviderList {
  display: block;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

#defaultProviderIcon {
  display: none;
}

/* Typical User Login:
/* hide default login form and only reveal SSO */
#mcad-login-page .mcad-login-container form {
  display: none;
}

/* Aux User Login (e.g. admins)
/* hide SSO button and only reveal default login form */
#mcad-login-page .aux-login-container {
}

@media (max-width: 33em) {
  #mcad-login-page {
    background: url("../img/lines-left-bg.svg") no-repeat left bottom,
      url("../img/lines-right-bg.svg") no-repeat right top;
  }
  #mcad-login-page .page-heading {
    font-size: 4.5em;
    margin: 0;
  }
  #mcad-login-page .page-subheading {
    font-size: 1.33em;
    margin-top: 0.5rem;
  }
  #mcad-login-page .button {
    max-width: 20rem;
    margin: auto;
  }
  #loginErrorMessage {
    max-width: 20em;
  }
}

@media (max-width: 20em) {
  #mcad-login-page {
    padding-top: 4em;
  }
  #mcad-login-page .page-heading {
    font-size: 4em;
    margin-bottom: 0;
  }
}

/* Override 14px font-size in body */
@media only screen and (max-width: 1024px) and (min-width: 737px) {
  body {
    font-size: 16px;
  }
}
